.card-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.card {
    position: relative;
    border-radius: 25px;
    padding: 20px 30px 0 30px;
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    height: 100%;
    min-width: 200px;
    .card-logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-body {
        .card-title {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            color: #161616;
        }

        p {
            font-size: $font-size;
            font-weight: 400;
            color: #333;
            text-align: justify;
        }
    }
}
