.flex-container {
    @extend .d-flex;
    @extend .direction-row;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.d-flex {
    display: flex;
}
.direction-row {
    flex-direction: row;
}
.direction-column {
    flex-direction: column;
}
.justify-content-space-between {
    justify-content: space-between;
}
